<div class="product-features">
  <div class="bootstrap container" style="max-width: 1400px;width: initial;">
  	<div class="row">
  		<div class="each">
	  		<img src="{{ 'product-mobile.png' | asset_img_url: 'x120' }}">
	  	</div>
	  	<div class="each">
	  		<img src="{{ 'product-lock.png' | asset_img_url: 'x120' }}">
	  	</div>
	  	<div class="each">
	  		<img src="{{ 'product-star.png' | asset_img_url: 'x120' }}">
	  	</div>
	  	<div class="each">
	  		<img src="{{ 'product-plane.png' | asset_img_url: 'x120' }}">
	  	</div>
	  	<div class="each">
	  		<img src="{{ 'product-heart.png' | asset_img_url: 'x120' }}">
	  	</div>
  	</div>  
  </div>
</div>