{% comment %}
** Product - default view **
- Product template
{% endcomment %}

<script type="text/javascript">
  var productSettings = productSettings || {};
  productSettings.gallery_arrows = '{{section.settings.gallery_arrows}}';
  productSettings.product_thumbs = '{{section.settings.product_thumbs}}';
  productSettings.thumbnail_position = '{{section.settings.thumbnail_position}}';

  productSettings.slideshow_animation = '{{section.settings.slideshow_animation}}';
  productSettings.slideshow_button_style = '{{settings.slideshow_button_style}}';
  productSettings.product_thumbs = '{{section.settings.product_thumbs}}';
  productSettings.enable_product_lightbox = '{{section.settings.enable_product_lightbox}}';
  productSettings.activate_autoplay = '{{section.settings.activate_autoplay}}';
  productSettings.activate_zoom = '{{section.settings.activate_zoom}}';
  productSettings.image_loading_style = '{{ settings.image_loading_style }}';

  productSettings.money_format = '{{ shop.money_format }}';
  productSettings.currency = '{{ shop.currency }}';
  productSettings.section_id = '{{ section.id }}';
  productSettings.block_id = '{{ block.id }}';

  productSettings.product_form_style = '{{ settings.product_form_style }}';

  productSettings.display_product_quantity = '{{ settings.display_product_quantity }}';
  productSettings.display_inventory_left = '{{ settings.display_inventory_left }}';
  productSettings.limit_quantity = '{{ settings.limit_quantity }}';
  productSettings.cart_action = '{{ settings.cart_action }}';
  productSettings.btn_text_color = '{{ settings.btn_text_color }}';
  productSettings.notify_me_form = '{{ settings.notify_me_form }}';
  productSettings.display_savings = '{{ section.settings.display_savings }}';
  productSettings.shop_name = '{{ shop.name | escape }}';
  productSettings.free_price_text = '{{ settings.free_price_text }}';
  productSettings.savings_text = '{{ 'products.product.savings' | t }}';
  productSettings.collection_handles = '{{ product.collections | map: "handle" }}';
  productSettings.coming_soon = '{{ 'collections.general.coming_soon' | t }}';
  productSettings.customer = {{ customer | json }};
  productSettings.contact = {{ contact | json }};
</script>

{% include 'loading_size_data' %}

<a name="pagecontent" id="pagecontent"></a>

<div class="bootstrap container main content">
  <div class="sixteen columns">
    {% if collection.previous_product or collection.next_product or section.settings.product_breadcrumb %}
      <div class="clearfix breadcrumb-collection">
        {% if collection.previous_product or collection.next_product %}
          <div class="nav_arrows breadcrumb_text">
            {% if collection.previous_product %}
              <a href="{{ collection.previous_product }}" title="{{ 'products.general.previous_product_html' | t }}" class="breadcrumb_link"><span class="icon-left-arrow"> {{ 'products.general.previous_product_html' | t }}</span></a>
            {% endif %}
            {% if collection.previous_product and collection.next_product %}<span class="breadcrumb-divider"> | </span>{% endif %}

            {% if collection.next_product %}
              <a href="{{collection.next_product}}" title="{{ 'products.general.next_product_html' | t }}" class="breadcrumb_link">{{ 'products.general.next_product_html' | t }} <span class="icon-right-arrow"></span></a>
            {% endif %}
          </div>
        {% endif %}

        {% if section.settings.product_breadcrumb %}
          <div class="breadcrumb_text" itemscope itemtype="http://schema.org/BreadcrumbList">
            <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="item" class="breadcrumb_link"><span itemprop="name">{{ 'general.breadcrumbs.home' | t }}</span></a></span>
            <span class="breadcrumb-divider">/</span>
            <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              {% if collection %}
                <a href="{{ collection.url }}" title="{{ collection.title | escape }}" itemprop="item" class="breadcrumb_link"><span itemprop="name">{{ collection.title }}</span></a>
              {% else %}
                <a href="/collections/all" title="{{ collections.all.title }}" class="breadcrumb_link"><span>{{ collections.all.title }}</span></a>
              {% endif %}
            </span>
            <span class="breadcrumb-divider">/</span>
            {{ product.title }}
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>

  {% comment %}Check to see if sidebar should be enabled{% endcomment %}
  {% if section.blocks.size > 0 %}
    {% assign sidebar = true %}
  {% else %}
    {% assign sidebar = false %}
  {% endif %}

  <div class="product clearfix">
    {% if sidebar %}
      {% include 'sidebar' %}
      <div class="twelve columns">
    {% else %}
      <div class="">
      {% comment %}
      <div class="sixteen columns">
      {% endcomment %}
    {% endif %}

    <div  class="product-container product-{{ product.id }}"
          data-free-text="{{ settings.free_price_text }}"
          >
      <div class="bootstrap section product_section clearfix js-product_section {% if section.settings.product_images_position == 'right' %}align_right--images{% endif %}" itemscope itemtype="http://schema.org/Product" data-rv-handle="{{ product.handle }}">
        
        <h1 class="product_name" itemprop="name">{{ product.title }}</h1>
        <div class="row">
          <div class="col-xs-12 col-sm-6 colums alpha">
            <ul class="tabs design-group" style="display: none;">
              <li data-tag="men"><a href="#men">Men's</a></li>
              <li data-tag="women"><a href="#women" class="active">Women's</a></li>
              <li data-tag="kids"><a href="#kids">Kids</a></li>
              <li data-tag="baby"><a href="#baby">Babies</a></li>
              <li data-tag="goods"><a class="inactive" href="#goods">Home Goods</a></li>
            </ul>  
          </div>
          <div class="col-xs-12 col-sm-6 colums alpha">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 colums alpha product-details-left animated bounceInLeft">
            {% include 'product-images' %}
            
            {% comment %}
            {% include 'snippet-person-type' %}
            {% endcomment %}

            <div class="person-type" style="display: none;">
              <p class="text-center">AVAILABLE ON THESE PRODUCTS:</p>
              <div class="products">
                <div class="person" id="men" style="display: none;"></div>
                <div class="person" id="women" style="display: block;"></div>
                <div class="person" id="kids" style="display: none;"></div>
                <div class="person" id="baby" style="display: none;"></div>
                <div class="person" id="goods" style="display: none;"></div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 colums omega">
            <div class="product-details-right animated bounceInRight">
              {% assign collection_handles = product.collections | map: 'handle' %}
              {% assign variant = product.selected_or_first_available_variant %}

              {% if product.available %}
                {% if settings.sale_banner_enabled and product.compare_at_price_max > product.price %}
                  <div class="sale_banner_product">{{ 'collections.general.sale' | t }}</div>
                {% endif %}
              {% endif %}
              {% if collection_handles contains 'new' %}
                <div class="new_banner_product">{{ 'collections.general.new' | t }}</div>
              {% endif %}
              {% if collection_handles contains 'pre-order' %}
                <div class="preorder_banner_product">{{ 'collections.general.pre_order' | t }}</div>
              {% endif %}

               {% if section.settings.display_vendor %}
                {% assign vendor_handle = product.vendor | handleize %}
                {% assign vendor_url = collections[vendor_handle].url %}
                {% capture vendor_logo %}vendor-{{ vendor_handle }}.png{% endcapture %}
                {% comment %}
                <a href="{% if vendor_url != blank %}{{ vendor_url }}{% else %}/collections/vendors?q={{ vendor_handle | escape }}{% endif %}"
                   data-toggle="tooltip" data-placement="left"
                   title="View all {{ product.vendor }} products"
                   class="vendor product-single__vendor-logo"
                   style="background-image: url({{ vendor_logo | asset_url }});">{{ product.vendor }}</a>
                {% endcomment %}
                <a href="/collections/{{ vendor_handle | escape }}"
                  data-toggle="tooltip" data-placement="left"
                  title="View all {{ product.vendor }} products"
                  class="vendor product-single__vendor-logo"
                  style="background-image: url({{ vendor_logo | asset_url }});"
                  >{{ product.vendor }}</a>
              {% endif %}

              <div class="sku-yotop">
                {% if variant.sku != blank and section.settings.display_sku %}
                  <p class="sku">
                    <span itemprop="sku">Style#: {{ variant.sku }}</span>
                  </p>
                {% endif %}
                
                <div class="yotpo bottomLine" data-product-id="{{ product.id }}"></div>
              </div>

              {% if settings.enable_shopify_product_badges and settings.enable_shopify_review_comments %}
                <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
              {% endif %}
              <div class="feature_divider"></div>

              {% assign product_tags = product.tags | join: ' ' %}
              {% if product_tags contains 'meta-size-chart-' %}
                {% for tag in product.tags %}
                  {% if tag contains 'meta-size-chart-' %}
                    <a href="#size-chart{{product.id}}" class="size_chart" data-remodal-target="size-chart{{product.id}}" data-no-instant>{{ 'products.product.size_chart' | t }} <span class="icon-right-arrow"></span></a>
                    {% include 'popup-size-chart', product_id: product.id %}
                  {% endif %}
                {% endfor %}
              {% elsif settings.size_chart != blank %}
                <a href="#size-chart" class="size_chart" data-remodal-target="size-chart" data-no-instant>{{ 'products.product.size_chart' | t }} <span class="icon-right-arrow"></span></a>
              {% endif %}

              <div style="min-height: 80px">
                <div class="col-xs-12 col-sm-4 select-target">
                  <span class="option_title">Department:</span>
                  <select style="margin-bottom: 30px">
                    <option value="men">Mens</option>
                    <option value="women">Womens</option>
                    <option value="kids">Kids</option>
                    <option value="baby">Babies</option>
                    <option value="goods">Goods</option>
                  </select>
                </div>
                <div class="col-xs-12 col-sm-8 select-bodystyle">
                  <span class="option_title">Body Style:</span>
                  <select style="margin-bottom: 30px">
                  </select>
                </div>
              </div>

              {% if section.settings.product_description_position == "top" %}
                {% if product.description != blank %}
                 <div class="description" itemprop="description">
                   {{ product.description | split: '<!-- split -->' | first }}
                 </div>
               {% endif %}
              {% endif %}

              {% unless collection_handles contains 'coming-soon' %}
                {% include 'product-form' with 'product' %}
                {% include 'product-notify-me' %}
              {% endunless %}

              {% comment %}
              <div class="product-features">
                <a href="javascript:void(rewardsmgr_open());" id="rewards-logo" class="link_rewards-logo">
                  <img src="{{ 'rewards-logo-sm.png' | asset_img_url: '200x' }}" alt="Sons of Gotham Rewards">
                </a>                
                <span id="modal-size-chart-toggle" href="#modal-size-chart" class="link_size-chart-toggle" style="display:none;">
                  <img src="{{ 'size-chart-icon.png' | asset_img_url: '48x' }}" alt="" width="24" height="24">
                  Size Chart
                </span>                
              </div>
              {% endcomment %}
              <div class="free-shipping-popup-container">
                <span id="modal-free-shipping-toggle" href="#modal-free-shipping" class="free-shipping-popup-toggle">
                  <img src="{{ 'free_shipping_icon.png' | asset_url }}" height="40">
                  <div>
                    <strong>FREE SHIPPING, FREE RETURNS.</strong>
                    <small>View Our Return Policy</small>
                  </div>
                </span>
              </div>

              {% if section.settings.product_description_position == "bottom" %}
                {% if product.description != blank %}
                 <div class="description bottom" itemprop="description">
                  {{ product.description | split: '<!-- split -->' | first }}
                 </div>
                {% endif %}
              {% endif %}

              {% if settings.enable_shopify_review_comments and settings.review_position == "next_to_gallery" %}
                <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
              {% endif %}

              {% if section.settings.display_collections or section.settings.display_tags or section.settings.display_type %}
                <div class="product_links">
                  {% if section.settings.display_collections %}
                    <p>
                      <span class="label">{{ 'products.product.collections' | t }}:</span>
                      <span>
                       {% for col in product.collections %}
                         <a href="{{ col.url }}" title="{{ col.title }}">{{ col.title }}</a>{% unless forloop.last %},{% endunless %}
                       {% endfor %}
                      </span>
                    </p>
                  {% endif %}

                  {% if section.settings.display_type %}
                    <p>
                      <span class="label">{{ 'products.product.product_types' | t }}:</span>
                      <span>{{ product.type | link_to_type }}</span>
                    </p>
                  {% endif %}

                  {% if section.settings.display_tags %}
                    <p>
                     {% for tag in product.tags %}
                       {% if forloop.first %}
                         <span class="label">{{ 'products.product.tags' | t }}:</span>
                       {% endif %}

                       {% unless tag contains 'meta-' %}
                         <span>
                           <a href="/collections/{% if collection %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handle }}" title="{{ 'products.product.products_tagged' | t: tag: tag }}">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
                           </span>
                       {% endunless %}
                     {% endfor %}
                    </p>
                  {% endif %}
                </div>
              {% endif %}

              <div class="meta">
                <a href="/products/sons-of-gotham-gift-card" class="link_gift-card">
                  <i class="fa fa-gift fa-fw fa-lg"></i>
                  Gift Cards Available
                </a>
                {% if section.settings.display_social_buttons %}
                  {% include "social-buttons" with "product" %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>

      {% if product.description contains "<!-- split -->"  %}
        <br class="clear" />
        <div class="section clearfix">
          <div class="description">
            {{ product.description | split: '<!-- split -->' | last }}
          </div>
        </div>
      {% endif %}

      {% if settings.enable_shopify_review_comments and settings.review_position == "below_gallery" %}
        <div class="shopify-reviews">
          <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
        </div>
      {% endif %}
    </div>

    {% if sidebar %}

            {% if section.settings.display_related_products %}
              {% include 'related-products' %}
            {% endif %}
            {% if section.settings.display_recently_viewed %}
              {% include 'recently-viewed' %}
            {% endif %}

          </div>
        </div>
      </div>

    {% else %}

          </div>
        </div>
      </div>
      {% include 'product-features' %}
      
      {% if section.settings.display_related_products %}
        {% include 'related-products' %}
      {% endif %}
      {% if section.settings.display_recently_viewed %}
        {% include 'recently-viewed' %}
      {% endif %}

    {% endif %}

    <script type="text/javascript">
      // window.testProducts = {{ collections.test-collection-for-3-0.products | json }};
      window.jsonProduct = {{ product | json }};

      // let currentSku = '{{ product.variants[0].sku }}';
      // let styleCode = currentSku.split('-')[0];
      // let bodyCode = currentSku.split('-')[1];
      // let sizeCode = currentSku.split('-')[2];

      // $.ajax({
      //   url: 'https://jcruzapp.herokuapp.com/sonsofgotham',
      //   method:'POST',
      //   data: {
      //     product_id: "{{ product.id }}",
      //     style_code: style_code,
      //     body_code: body_code
      //   },
      //   success: function(result) {
          
      //   }
      // });
    </script>

{% schema %}

{
  "name": "Product",
  "class": "product-template",
  "settings": [
    {
      "type": "header",
      "content": "Product gallery"
    },
    {
      "type": "checkbox",
      "id": "gallery_arrows",
      "label": "Show arrows on product gallery",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "activate_zoom",
      "label": "Magnify product images on hover"
    },
    {
      "type": "checkbox",
      "id": "enable_product_lightbox",
      "label": "Enable product gallery popup",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "activate_autoplay",
      "label": "Enable product gallery slideshow"
    },
    {
      "type": "select",
      "id": "slideshow_animation",
      "label": "Gallery transition",
      "options": [
        {
          "value": "slide",
          "label": "Slide"
        },
        {
          "value": "fade",
          "label": "Fade"
        }
      ],
      "default": "slide"
    },
    {
      "type": "radio",
      "id": "product_images_position",
      "label": "Gallery position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "product_thumbs",
      "label": "Show product gallery thumbnails",
      "default": true
    },
    {
      "type": "select",
      "id": "thumbnail_position",
      "label": "Thumbnail position",
      "default": "bottom-thumbnails",
      "options": [
        {
          "value": "left-thumbnails",
          "label": "Left"
        },
        {
          "value": "bottom-thumbnails",
          "label": "Bottom"
        },
        {
          "value": "right-thumbnails",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Product info"
    },
    {
      "type": "checkbox",
      "id": "product_breadcrumb",
      "label": "Show breadcrumb links"
    },
    {
      "type": "checkbox",
      "id": "display_vendor",
      "label": "Show vendor"
    },
    {
      "type": "checkbox",
      "id": "display_sku",
      "label": "Show SKU"
    },
    {
      "type": "checkbox",
      "id": "display_savings",
      "label": "Show price savings",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "display_collections",
      "label": "Show collections"
    },
    {
      "type": "checkbox",
      "id": "display_type",
      "label": "Show type"
    },
    {
      "type": "checkbox",
      "id": "display_tags",
      "label": "Show tags"
    },
    {
      "type": "checkbox",
      "id": "display_social_buttons",
      "label": "Show social media share icons",
      "default": true
    },
    {
      "type": "radio",
      "id": "product_description_position",
      "label": "Description position",
      "options": [
        {
          "value": "top",
          "label": "Above product form"
        },
        {
          "value": "bottom",
          "label": "Below product form"
        }
      ]
    },
    {
      "type": "header",
      "content": "Related products"
    },
    {
      "type": "checkbox",
      "id": "display_related_products",
      "label": "Show related products ([?](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115006909487-Related-Products))",
      "default": true
    },
    {
      "type": "radio",
      "id": "related_products_style",
      "label": "Layout",
      "default": "grid",
      "options": [
        {
          "value": "slider",
          "label": "Slider"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ]
    },
    {
      "type": "range",
      "id": "related_products_limit",
      "label": "Limit products",
      "min": 2,
      "max": 50,
      "step": 1,
      "default": 12
    },
    {
      "type": "range",
      "id": "products_per",
      "label": "Products per row",
      "min": 3,
      "max": 5,
      "step": 1,
      "default": 3
    },
    {
      "type": "header",
      "content": "Recently viewed products"
    },
    {
      "type": "paragraph",
      "content": "To test the recently viewed products, view your online store outside of the Editor and visit multiple product pages ([?](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115008765228))"
    },
    {
      "type": "checkbox",
      "id": "display_recently_viewed",
      "label": "Show recently viewed products",
      "default": false
    },
    {
      "type": "text",
      "id": "rv_title",
      "label": "Title",
      "default": "Recently Viewed Items"
    },
    {
      "type": "radio",
      "id": "rv_products_style",
      "label": "Layout",
      "default": "grid",
      "options": [
        {
          "value": "slider",
          "label": "Slider"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ]
    },
    {
      "type": "range",
      "id": "rv_max_display",
      "label": "Products limit",
      "min": 3,
      "max": 12,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "rv_per",
      "label": "Products per row",
      "min": 3,
      "max": 5,
      "step": 1,
      "default": 4
    },
    {
      "type": "header",
      "content": "Sidebar"
    },
    {
      "type": "paragraph",
      "content": "Create a sidebar by adding content blocks."
    },
    {
      "type": "checkbox",
      "id": "toggle",
      "label": "Toggle sidebar content",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "filter_by_collection",
      "name": "Collection list",
      "limit": 1
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "custom_menu_linklist",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "settings": [
        {
          "type": "page",
          "id": "content_page",
          "label": "Page"
        }
      ]
    },
    {
      "type": "recently_viewed",
      "name": "Recently viewed products",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To test the recently viewed products, view your online store outside of the Editor and visit multiple product pages ([?](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115008765228))"
        },
        {
          "type": "text",
          "id": "sidebar_rv_title",
          "label": "Title",
          "default": "Recently Viewed"
        },
        {
          "type": "range",
          "id": "sidebar_rv_per",
          "label": "Products limit",
          "min": 1,
          "max": 4,
          "step": 1,
          "default": 3
        }
      ]
    },
    {
      "type": "filter_by_tag",
      "name": "Tag list",
      "limit": 1
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Text area can be used for special announcements or general information.</p>"
        }
      ]
    },
    {
      "type": "filter_by_type",
      "name": "Type list",
      "limit": 1
    },
    {
      "type": "filter_by_vendor",
      "name": "Vendor list",
      "limit": 1
    }
  ],
  "default": {
    "settings": {

    }
  }
}

{% endschema %}
