{% include 'colors_list' %}

{% if featured %}
  {% assign collection = collections[featured_collection] %}
{% endif %}
{% assign col_tags = collection.tags | join: ',' %}
{% assign vendor_joined_tags = collection.all_vendors | join: ',' | downcase | replace: ' ', '-' %}
{% capture vendor_tags %},{{vendor_joined_tags}},{% endcapture %}

{% if section.blocks.size > 0 %}
  <div class="sidebar col-xs-12 col-sm-3 columns toggle-all--{{ section.settings.toggle }}">
    <div class="sidebar-wrap">
      {% for block in section.blocks %}
        <div class="sidebar-block" {{ block.shopify_attributes }}>
          {% if block.type == 'menu' %}
            {% assign sidebar_menu = linklists[block.settings.custom_menu_linklist] %}
            {% if sidebar_menu != blank %}
              <h4 class="toggle"><i class="fa fa-caret-down"></i><i class="fa fa-caret-up">{{ sidebar_menu.title }}</h4>
              <ul class="toggle_list">
                {% for link in sidebar_menu.links %}
                  {% if link.active %}
                    {% assign active_link = true %}
                  {% else %}
                    {% assign active_link = false %}
                    {% for sub_link in linklists[link.handle].links %}
                      {% if sub_link.active %}
                        {% assign active_link = true %}
                      {% else %}
                        {% for sub_sub_link in linklists[sub_link.handle].links %}
                          {% if sub_sub_link.active %}
                            {% assign active_link = true %}
                          {% endif %}
                        {% endfor %}
                      {% endif %}
                    {% endfor %}
                  {% endif %}

                  <li>
                    <a {% if link.active %}class="active"{% endif %} href="{{ link.url }}">{{ link.title }}</a>

                    {% if linklists[link.handle].links != blank %}
                      <span class="menu-toggle icon-down-arrow {% if active_link %}active{% endif %}" aria-haspopup="true" aria-expanded="{% if active_link %}true{% else %}false{% endif %}"> </span>

                      <ul class="{% if active_link %}active{% endif %}">
                        {% for sub_link in linklists[link.handle].links %}
                          {% if sub_link.active %}
                            {% assign active_link = true %}
                          {% else %}
                            {% assign active_link = false %}
                            {% for sub_sub_link in linklists[sub_link.handle].links %}
                              {% if sub_sub_link.active %}
                                {% assign active_link = true %}
                              {% endif %}
                            {% endfor %}
                          {% endif %}

                          <li class="sub-menu {% if active_link %}active{% endif %}">
                            <a {% if sub_link.active %}class="active"{% endif %} href="{{ sub_link.url }}">{{ sub_link.title }}</a>

                            {% if linklists[sub_link.handle].links != blank %}
                              <span class="menu-toggle icon-down-arrow {% if active_link %}active{% endif %}" aria-haspopup="true" aria-expanded="{% if active_link %}true{% else %}false{% endif %}"> </span>

                              <ul class="{% if active_link %}active{% endif %}">
                                {% for sub_sub_link in linklists[sub_link.handle].links %}
                                  <li class="sub-menu">
                                    <a {% if sub_sub_link.active %}class="active"{% endif %} href="{{ sub_sub_link.url }}">{{ sub_sub_link.title }}</a>
                                  </li>
                                {% endfor %}
                              </ul>
                            {% endif %}
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              <h4 class="toggle"><i class="fa fa-caret-down"></i><i class="fa fa-caret-up">Menu title</h4>
              <ul class="toggle_list">
                <li><p>{{ 'homepage.onboarding.no_content' | t }}</p></li>
              </ul>
            {% endif %}

          {% elsif block.type == 'page' %}
            {% if block.settings.content_page != blank %}
              <h4 class="toggle"><i class="fa fa-caret-down"></i><i class="fa fa-caret-up">{{ pages[block.settings.content_page].title }}</h4>
              <ul class="toggle_list content_block">
                <li>{{ pages[block.settings.content_page].content }}</li>
              </ul>
            {% else %}
              <h4 class="toggle"><i class="fa fa-caret-down"></i><i class="fa fa-caret-up">Page title</h4>
              <ul class="toggle_list">
                <li><p>{{ 'homepage.onboarding.no_content' | t }}</p></li>
              </ul>
            {% endif %}

          {% elsif block.type == 'filter_by_tag' %}
            {% if template contains 'product' %}
              {% assign tag_count = product.tags | size %}
              {% if tag_count > 0 %}
                <h4 class="toggle"><i class="fa fa-caret-down"></i><i class="fa fa-caret-up">{{ 'collections.sidebar.tags' | t }}</h4>
                <ul class="toggle_list">
                  {% for tag in product.tags %}
                    {% unless tag contains 'meta-' %}
                      <li>
                        <a {% if current_tags contains tag %}class="active"{% endif %} href="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}">{{ tag }}</a>
                      </li>
                    {% endunless %}
                  {% endfor %}
                </ul>
              {% endif %}
            {% else %}
              {% assign tag_count = collection.all_tags | size %}
              {% if tag_count > 0 %}
                <h4 class="toggle"><i class="fa fa-caret-down"></i><i class="fa fa-caret-up">{{ 'collections.sidebar.tags' | t }}</h4>
                <ul class="toggle_list">
                  <li>
                    <a {% unless current_tags %}class="active--default"{% endunless %} href="{% if collection.handle == "all" %}/collections/all{% else %}{{ collection.url }}{% endif %}">All {{ collection.title }}</a>
                  </li>
                  {% for tag in collection.all_tags %}
                    {% unless tag contains 'meta-' %}
                      <li>
                        <a {% if current_tags contains tag %}class="active"{% endif %} href="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}">{{ tag }}</a>
                      </li>
                    {% endunless %}
                  {% endfor %}
                </ul>
              {% endif %}
            {% endif %}

          {% elsif block.type == 'filter_by_type' %}
            <h4 class="toggle"><i class="fa fa-caret-down"></i><i class="fa fa-caret-up">{{ 'collections.sidebar.product_types' | t }}</h4>
            <ul class="toggle_list">
              {% for product_type in shop.types %}
                <li {% if product_type == collection.title %}class="active"{% endif %}>{{ product_type | link_to_type }}</li>
              {% endfor %}
            </ul>

          {% elsif block.type == 'filter_by_collection' %}
            <h4 class="toggle"><i class="fa fa-caret-down"></i><i class="fa fa-caret-up">{{ 'collections.sidebar.collections' | t }}</h4>
            <ul class="toggle_list">
              {% for col in collections %}
                {% unless col.handle == 'frontpage' %}
                  <li {% if col.handle == collection.handle %}class="active"{% endif %}><a href="{{ col.url }}" title="{{ col.title | escape }}">{{ col.title }}</a></li>
                {% endunless %}
              {% endfor %}
            </ul>

          {% elsif block.type == 'filter_by_vendor' %}
            <h4 class="toggle"><i class="fa fa-caret-down"></i><i class="fa fa-caret-up">{{ 'collections.sidebar.vendors' | t }}</h4>
            <ul class="toggle_list">
              {% for product_vendor in shop.vendors %}
                <li {% if product_vendor == collection.title %}class="active"{% endif %}>{{ product_vendor | link_to_vendor }}</li>
              {% endfor %}
            </ul>

          {% elsif block.type == 'filter' %}
            {% assign filter_tags = block.settings.filter_tags | split: ',' %}
            {% assign headline_length = filter_tags | size %}
            {% assign filter_name = block.settings.filter_name | replace: ' ', '_' | downcase | append: '__' %}
            {% if headline_length > 0 %}
              <div class="sidebar__collection-filter">
                {% assign tag_name = block.settings.filter_name | downcase %}
                <h4 class="{% if tag_name != 'size' and tag_name != 'color' and tag_name != 'department' %}toggle{% endif %}">
                  {{ block.settings.filter_name }}
                  {% if tag_name != 'size' and tag_name != 'color' and tag_name != 'department' %}
                    <i class="fa fa-caret-right"></i><i class="fa fa-caret-up"></i>
                  {% endif %}
                </h4>
                {% if block.settings.filter_name != blank and headline_length > 0 %}
                {% assign block_title = block.settings.filter_name | downcase %}
                <ul class="toggle_list {{ block.settings.filter_name | downcase | replace: ' ', '' }}"  {% if tag_name == 'size' or tag_name == 'color' or tag_name == 'department' %}style="display:block;"{% endif %}>
                  <div class="filter-all-tags color-filter--{{ block.settings.enable_filter_swatches }}">
                    {% if block_title == 'vendor' %}{% assign filter_tags = vendor_joined_tags | split: ',' %}{% endif %}
                    {% for tag in filter_tags %}
                      {% unless col_tags contains tag %}
                        {% continue %}
                      {% endunless %}

                      {% if block_title == 'vendor' %}
                        {% capture format_tag %},{{tag}},{% endcapture %}
                        {% unless vendor_tags contains format_tag %}
                          {% continue %}
                        {% endunless %}
                      {% endif %}

                      {% if block.settings.enable_filter_swatches %}
                        {% assign a_color = '' %}
                        {% assign color_name = '' %}
                        {% for color in colors_list %}
                          {% if color contains tag %}
                            {% assign color_arr = color | split: ':' %}
                            {% assign color_name = color_arr[0] | replace: 'color-', '' | replace: '-', ' ' %}
                            {% assign a_color = color_arr[1] %}
                            {% break %}
                          {% endif %}
                        {% endfor %}
                        <li>
                          <label data-option-filter data-toggle="tooltip" data-placement="center" title="{% if color_name != '' %}{{color_name}}{% elsif tag_name == 'color' and color_name == '' %}{{ tag | replace: 'color-', '' | replace: '-', ' ' }}{% endif %}">
                            <input type="checkbox" value="{{tag}}" name="{{filter_name}}{{tag}}" id="{{filter_name}}{{tag}}" class="styled-checkbox" style="background-image: url({{ tag | handleize | downcase | append: '.png' | asset_img_url: '50x' }}); background-color: {% if a_color == '' or a_color == blank %}white{% else %}{% if a_color == 'multi-color' %}red;background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);{% else %}{{a_color}}{% endif %}{% endif %}">
                          </label>
                        </li>
                      {% else %}
                        <li>
                          <a>
                            <label data-option-filter><input type="checkbox" value="{{tag}}" name="{{filter_name}}{{tag}}">
                              {{tag | replace: '-', ' ' | replace: 'size ', ''| replace: 'gender age ', '' | capitalize}}
                            </label>
                          </a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </div>

                  <div class="filter-active-tag color-filter--{{ block.settings.enable_filter_swatches }}">
                    {% for tag in filter_tags %}
                      {% for current_tag in current_tags %}
                        {% if tag == current_tag %}
                          {% if block.settings.enable_filter_swatches %}
                            {% assign a_color = '' %}
                            {% assign color_name = '' %}
                            {% for color in colors_list %}
                              {% if color contains tag %}
                                {% assign color_arr = color | split: ':' %}
                                {% assign color_name = color_arr[0] | replace: 'color-', '' | replace: '-', ' ' %}
                                {% assign a_color = color_arr[1] %}
                                {% break %}
                              {% endif %}
                            {% endfor %}
                            <li>
                              <label data-option-filter data-toggle="tooltip" data-placement="center" title="{% if color_name != '' %}{{color_name}}{% elsif tag_name == 'color' and color_name == '' %}{{ tag | replace: 'color-', '' | replace: '-', ' ' }}{% endif %}">
                                <input checked type="checkbox" value="{{tag}}" name="{{filter_name}}{{tag}}" id="{{filter_name}}{{tag}}" class="styled-checkbox" style="background-image: url({{ tag | handleize | downcase | append: '.png' | asset_img_url: '50x' }}); background-color: {% if a_color == '' or a_color == blank %}white{% else %}{{a_color}}{% endif %}">
                              </label>
                            </li>
                          {% else %}
                            <li>
                              <a>
                                <label data-option-filter><input checked type="checkbox" value="{{tag}}" name="{{filter_name}}{{tag}}">
                                  {{tag | replace: '-', ' ' | replace: 'size ', ''| replace: 'gender age ', '' | capitalize}}
                                </label>
                              </a>
                            </li>
                          {% endif %}
                          <button class="clear-active-filter" data-clear-filter>
                          <i class="x-icon"></i>{{ 'collections.sidebar.clear' | t }}</button>
                          {% break %}
                        {% endif %}
                      {% endfor %}
                    {% endfor %}
                  </div>
                </ul>
                {% endif %}
              </div>
            {% endif %}

          {% elsif block.type == 'text' %}
            <h4 class="toggle"><i class="fa fa-caret-down"></i><i class="fa fa-caret-up">{{ block.settings.title }}</h4>
            <ul class="toggle_list content_block">
              <li>{{ block.settings.text }}</li>
            </ul>
          {% elsif block.type == 'recently_viewed'%}
            <div  class="js-sidebar-recently-viewed hidden"
                  data-rv-handle="{{ product.handle }}"
                  data-visible-products="{{ block.settings.sidebar_rv_per | plus: 1 }}"
            >
              <h4 class="toggle"><i class="fa fa-caret-down"></i><i class="fa fa-caret-up">{{ block.settings.sidebar_rv_title }}</h4>
              <ul class="toggle_list">
                <li>{% include 'recently-viewed-block' %}</li>
              </ul>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
